.input[type=text] {
    background:    white;
    width:         100%;
    border:        1px solid rgba(0, 0, 0, .05);
    text-indent:   10px;
    outline:       0;
    font-size:     1em;
    height:        2.2em;
    color:         rgba(0, 0, 0, .5);
    font-family:   inherit;
}

.input:hover {
    border-color: rgba(0, 0, 0, .1);
}

.input:focus {
    color:               inherit;
    background:          white;
    box-shadow:          0 1px 1px rgba(0, 0, 0, .08), inset 0 -2px 10px rgba(0, 0, 0, .0);
    border-color:        rgba(0, 0, 0, .1);
    border-bottom-color: rgba(0, 0, 0, .2);
    border-right-color:  rgba(0, 0, 0, .15);
    border-left-color:   rgba(0, 0, 0, .15);
}

.input:disabled,
.input:disabled:hover {
    border-color: rgba(0, 0, 0, .03);
    color:        rgba(0, 0, 0, .1);
    cursor:       default;
}
