.score {
    margin-bottom: 20px;
    box-sizing:    content-box;
}

.scoreContent {
    max-width:       1000px;
    margin:          0 auto;
    display:         flex;
    align-content:   center;
    justify-content: center;
}

.score.scoreTurn {
    background: white;
}

.scorePlayer {
    display:         flex;
    align-items:     center;
    justify-content: flex-end;
    flex-shrink:     0;
    flex-grow:       0;
    width:           30%;
    padding-right:   20px;
}

.scorePlayerName {
    font-size:    .8em;
    color:        rgba(0, 0, 0, .5);
    margin-right: 10px;
    text-align:   right;
    font-weight:  bold;
}

.scoreTurn .scorePlayerName {
    color: rgba(0, 0, 0, .7);
}

.scorePlayerPlace {
    margin-top: 6px;
}

.scorePlayerPlaceBadge,
.scorePlayerPlaceSentence {
    display: inline-block;
}

.scorePlayerPlaceBadge {
    background:    white;
    padding:       2px;
    min-width:     20px;
    text-align:    center;
    font-weight:   bold;
    color:         rgba(0, 0, 0, .5);
    margin-right:  5px;
    border-radius: 3px;
}

.placeGold .scorePlayerPlaceBadge {
    background: #CFB53B;
    color:      rgba(255, 255, 255, .8);
}

.placeSilver .scorePlayerPlaceBadge {
    background: #E6E8FA;
    color:      rgba(0, 0, 0, .4);
}

.placeBronze .scorePlayerPlaceBadge {
    background: #8C7853;
    color:      rgba(255, 255, 255, .8);
}

.scorePlayerPlaceSentence {
    font-weight: normal;
}

.scoreFrames {
    display:       flex;
    padding-right: 20px;
}
