.button {
    font-family:   inherit;
    padding:       10px;
    color:         rgba(0, 0, 0, .7);
    font-size:     .8em;
    background:    rgba(0, 0, 0, .1);
    border:        1px solid rgba(0, 0, 0, .01);
    border-radius: 3px;
}

.button:not(:disabled):hover {
    cursor:              pointer;
    background:          #7d7c6e;
    box-shadow:          0 1px 1px rgba(0, 0, 0, .08), inset 0 -2px 10px rgba(0, 0, 0, .1);
    border-color:        rgba(0, 0, 0, .1);
    border-bottom-color: rgba(0, 0, 0, .2);
    border-right-color:  rgba(0, 0, 0, .15);
    border-left-color:   rgba(0, 0, 0, .15);
    color:               white;
}

.button:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08), 0 -2px 10px rgba(0, 0, 0, .1) !important;
}

.button:disabled {
    background: transparent;
    color:      rgba(0, 0, 0, .2);
}

.button + .button {
    margin-left: 20px;
}
