.frame {
    height: 70px;
    width:  50px;
}

.frameLast {
    width: 75px;
}

.frame:nth-child(odd) {
    background: #E7E7DC;
}

.frame:nth-child(even) {
    background: #E2E2D8;
}

.frameTurn.frameCurrent {
    background: #FEF236;
}

.frame:not(:first-child) {
    border-left: 0;
}

.firstRow,
.secondRow {
    text-align:  center;
    color:       rgba(0, 0, 0, .7);
    font-weight: bold;
}

.firstRow {
    font-size:   .6em;
    height:      25px;
    line-height: 25px;
    display:     flex;
}

.secondRow {
    font-size:   .8em;
    height:      45px;
    line-height: 45px;
}

.pins,
.result {
    width: 50%;
}

.frameLast .pins,
.frameLast .result,
.frameLast .extra {
    width: 33%;
}

.pins {

}

.pins,
.result,
.extra {
    position: relative;
}

.pins .mark,
.result .mark,
.extra .mark {
    position: absolute;
    top:      8px;
    left:     8px;
    right:    8px;
    bottom:   8px;
}

.extra {

}

.resultStrike .mark,
.secondChanceStrike .mark,
.markStrike {
    background: linear-gradient(to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(0, 0, 0, .4) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%), linear-gradient(to top right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(0, 0, 0, .4) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%);
}

.resultSpare .mark,
.extraSpare .mark {
    background: linear-gradient(to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(0, 0, 0, .4) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%);
}

.points {

}

.frame.total {
    background: transparent;
    border:     0;
}
