@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto+Condensed:300,400,700|Roboto:300,400,500,700');

body {
    background:  #F3F3E8;
    margin:      0;
    padding:     0;
    font-family: Roboto, Helvetica, sans-serif;
    font-size:   16px;
}

* {
    box-sizing: border-box;
}

#application {
}

h1 {
    font-family: "Playfair Display", serif;
    text-align:  center;
    color:       rgba(0, 0, 0, .8);
    margin:      0;
}

h1 em {
    border-bottom: 4px solid #FFDC00;
}

h1 a {
    font-size:       .8em;
    color:           rgba(0, 0, 0, .4);
    text-decoration: none;
    font-family:     "Roboto", sans-serif;
    font-weight:     normal;
    margin-bottom:   20px;
    text-transform:  uppercase;
    display:         block;
}

h2 {
    text-align:  center;
    margin:      40px 0 0;
    font-family: "Roboto Condensed", sans-serif;
}

h2 small {
    font-size: .8em;
}

h2 small a {
    margin-left:     20px;
    text-decoration: none;
    color:           rgba(0, 0, 0, .4);
    font-size:       .8em;
    font-weight:     normal;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, .3) !important;
    overflow:         scroll;
}

.ReactModal__Content {
    bottom:        auto !important;
    margin:        0 auto !important;
    max-width:     800px !important;
    border-radius: 0 !important;
    border:        0 !important;
    top:           70px !important;
}
