.progress {
    text-align: center;
    color:      rgba(0, 0, 0, .7);
}

.progress p {
    margin:      0;
}

.slider {
    width:  400px;
    margin: 50px auto 0;
}

.actions {
    margin: 50px auto 25px;
}
