.game {
    flex-basis: 33%;
}

.link {
    background:      #E9E9DF;
    display:         block;
    text-decoration: none;
    color:           inherit;
    position:        relative;
}

.link:hover {
    background: #FEF236;
}

.title {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    display:     block;
    color:       rgba(0, 0, 0, .5);
    padding:     10px 10px 5px;
    font-size:   1.1em;
    font-weight: bold;
}

.state {
    padding:   0 10px 10px;
    color:     rgba(0, 0, 0, .4);
    font-size: .7em;
}

.players {
    overflow:  hidden;
    padding:   0 5px;
    display:   inline-flex;
    flex-wrap: wrap;
}

.players img {
    margin-bottom: 10px;
}

.link:hover .players {
}
