.cardAction {
    width: 33%;
}

.button {
    background:  transparent;
    border:      3px dashed rgba(0, 0, 0, .05);
    height:      100%;
    width:       100%;
    padding:     0;
    font-family: "Roboto Condensed", sans-serif;
    font-size:   1em;
    display:     block;
}

.button:hover {
    background: rgba(0, 0, 0, .05);
    cursor:     pointer;
}

.label {
    color: rgba(0, 0, 0, .2);
}

.cardAction:hover .label {
    color: rgba(0, 0, 0, .5);
}
