.playerControl {
    position:      relative;
    margin-bottom: 10px;
    display:       flex;
    align-items:   center;
}

.playerControl input {
    text-indent: 35px !important;
}

.playerControl img {
    position: absolute;
    left:     3px;
}

.removePlayer {
    position:    absolute;
    right:       0;
    background:  transparent;
    border:      0;
    font-family: inherit;
    font-size:   1.5em;
    height:      100%;
    cursor:      pointer;
}

.playerControl:hover .removePlayer {
    color: #FF4136;
}
